<div id="homeStage">
	<div id="friendsContainer">
		
	</div>
	<div id="posts">
	<div id="postsContainer">
		<%= @user.posts.find(1).message %>
		<%= @user.posts.find(1).created_at %>
	</div>
	<div id="newPost">
		
	</div>
		
	</div>
</div>