<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="css/normal.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>

		<div class="navbar">


			<% if session[:user_id] %>
				<a href="/profile/<%= current_user.id %>">Profile</a>
				<a href="/posts">Posts</a>
			<% end %>
			
			<a href="/users">Users</a>

			<% if session[:user_id] %>
			  <a href="/logout">Log Out</a>
			<% end %>

			<% if !session[:user_id] %>
				<a href="/signin">Log In</a>
			<% end %>

			<% if !session[:user_id] %>
				<a href="/users/new">Sign Up</a>
			<% end %>
		
			<% if session[:user_id] %>
				<h2>Welcome, <%=@user.fname %>! </h2>
			<% end %>
		</div>

<%= yield %>
</body>
<script src="scripts/main.js" type="text/javascript" charset="utf-8" ></script>
</html>